<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">Start-App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['employees']">Data Table</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['productList']">ProductList</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['login']">Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-menu>
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['people']">Get People</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['form']">Reactive Form</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['form2']">Model Drived Form</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['controls']">Controls</a>
                    </li>
                </ul>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar> -->

</header>