<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
           <span><a routerLink="/">Start-App</a></span>
           <span class="spacer"></span>
           <a mat-button routerLink="/productList">Products</a>
           <a mat-button routerLink="/employees">Empoyees</a>
           <a mat-button routerLink="/login">Login</a>
           <span class="navmenu-spacer"></span>
           <button mat-icon-button>
              <mat-icon>menu</mat-icon>
           </button>
        </mat-toolbar-row>
     </mat-toolbar>
</header>