<!-- <h1>Signle FormControl</h1>
<label>Id: <input type="text" [formControl]="id"></label>
<label>Name: <input type="text" [formControl]="name"></label>

<p>id:{{id.value}}</p>
<p>name:{{name.value}}</p>

<p>
    <button (click)="updateName()" class="btn btn-primary">Update Name</button>
</p>

<h1>FormGroup</h1>

<form [formGroup]="information" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class="col-md-3">Id:</label>
        <input type="text" formControlName="id" class="form-control col-md-9" />
    </div>
    <div class="form-group">
        <label class="col-md-3">Name:</label>
        <input type="text" formControlName="name" class="form-control col-md-9" />
    </div>

    <div formGroupName="address">
        <h3>Address</h3>
        <div class="form-group">
            <label class="col-md-3">Province</label>
            <input type="text" formControlName="province" class="form-control col-md-9" />
        </div>
        <div class="form-group">
            <label class="col-md-3">City</label>
            <input type="text" formControlName="city" class="form-control col-md-9" />
        </div>
        <div class="form-group">
            <label class="col-md-3">County</label>
            <input type="text" formControlName="county" class="form-control col-md-9" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!information.valid">Submit</button>
</form>

<button class="btn btn-primary" (click)="updateInformation()">Update Information</button> -->

<!-- <h1>FormBuilder</h1>
<form [formGroup]="informations" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class="col-md-3">Id:</label>
        <input type="text" formControlName="id" class="form-control col-md-9" />
    </div>
    <div class="form-group">
        <label class="col-md-3">Name:</label>
        <input type="text" formControlName="name" class="form-control col-md-9" />
    </div>

    <div formGroupName="address">
        <h3>Address</h3>
        <div class="form-group">
            <label class="col-md-3">Province</label>
            <input type="text" formControlName="province" class="form-control col-md-9" />
        </div>
        <div class="form-group">
            <label class="col-md-3">City</label>
            <input type="text" formControlName="city" class="form-control col-md-9" />
        </div>
        <div class="form-group">
            <label class="col-md-3">County</label>
            <input type="text" formControlName="county" class="form-control col-md-9" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!informations.valid">Submit</button>
</form> -->

<form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

