<div *ngIf="!companies">
    <em>Loading...</em>
</div>
<div class="mat-elevation-z8">
    <!-- <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let company">{{company.id}}</td>
        </ng-container>

        <ng-container matColumnDef="CompanyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
            <td mat-cell *matCellDef="let company">{{company.companyName}}</td>
        </ng-container>

        <ng-container matColumnDef="Introduction">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
            <td mat-cell *matCellDef="let company">{{company.introduction}}</td>
        </ng-container>
        <ng-container matColumnDef="Country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
            <td mat-cell *matCellDef="let company">{{company.country}}</td>
        </ng-container>
        <ng-container matColumnDef="Product">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
            <td mat-cell *matCellDef="let company">{{company.product}}</td>
        </ng-container>

    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
    <table mat-table [dataSource]="companies" >
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef >Id</th>
            <td mat-cell *matCellDef="let company">{{company.id}}</td>
        </ng-container>

        <ng-container matColumnDef="CompanyName">
            <th mat-header-cell *matHeaderCellDef>Company Name</th>
            <td mat-cell *matCellDef="let company">{{company.companyName}}</td>
        </ng-container>

        <ng-container matColumnDef="Introduction">
            <th mat-header-cell *matHeaderCellDef >Introduction</th>
            <td mat-cell *matCellDef="let company">{{company.introduction}}</td>
        </ng-container>
        <ng-container matColumnDef="Country">
            <th mat-header-cell *matHeaderCellDef>Country</th>
            <td mat-cell *matCellDef="let company">{{company.country}}</td>
        </ng-container>
        <ng-container matColumnDef="Product">
            <th mat-header-cell *matHeaderCellDef >Product</th>
            <td mat-cell *matCellDef="let company">{{company.product}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator> -->
</div>
