<p *ngIf="!employees"><em>Loading...</em></p>

<div class="commands text-right" *ngIf="employees">
  <button type="button" [routerLink]="['/employees-add']" class="btn btn-success">New</button>
</div>

<mat-form-field [hidden]="!employees">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="loadData($event.target.value)" placeholder="Ex. Shipping">
</mat-form-field>


<table mat-table [dataSource]="employees" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="NationalIdnumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> NationalId </th>
    <td mat-cell *matCellDef="let element"> {{element.nationalIDNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="OrganizationLevel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 组织等级 </th>
    <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.organizationLevel}} </td>
  </ng-container>

  <ng-container matColumnDef="JobTitle">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 职位名称 </th>
    <td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
  </ng-container>

  <ng-container matColumnDef="MaritalStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 婚姻状况 </th>
    <td mat-cell *matCellDef="let element"> {{element.maritalStatus}} </td>
  </ng-container>

  <ng-container matColumnDef="Gender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 性别 </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
</table>

<mat-paginator [hidden]="!employees" 
               (page)="getData($event)" 
               [pageIndex]="defaultPageIndex"
               [pageSize]="defaultPageSize" 
               [pageSizeOptions]="[5, 10, 20]" 
               showFirstLastButtons>
</mat-paginator>